*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}
 #header{
    width: 100%;
    height: 100vh;
    background-image: url(images/about.png);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
    margin-right: 1;
}
.icon-container{
    font-family: 'Poppins' sans-serif;
    font-weight: 100;

}
.container-nav {
    width: 100%;
    backdrop-filter: blur(5px);
    position:fixed;
    padding: 0px 50px 0px 100px;
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 120px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

 }
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:#ec5dc9;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
 }
nav ul li a:hover::after{
    width: 100%;
 }
 .header-text{
    margin-top:20%;
    font-size: 30px;

 }
 .header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#ec5dc9
}
.btn{
    display: block;
    margin: 30px auto;
    margin-left: 500px;
    width: fit-content;
    border: 1px solid #ec5dc9;
    border-width: 2px;
    background: #ec5dc9;
    padding: 10px 40px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background:#ec5dc9;
}



/*-------------------------about----------------------------------------*/
#about{
    padding: 80px 0;
    color: #fff;
    text-shadow:5px#ec5dc9;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
    text-align: justify;   
}
p{
    text-align: justify;
    font-weight: 500;
    font-family: 'Poppins' sans-serif;
}
h2{
    color:#ec5dc9;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
h3{
    color:#fff;
    text-shadow: 2px 2px 0 gray;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    
}
h4{
    color:#fff;
    text-shadow: 2px 2px 0 gray;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
}
h5{
    margin-top: 10px;
    font-size: 15px;
    
}
h6{
    margin-top:1px;
    color: #ec5dc9;
    margin-bottom: 10px;
}
.container-tools{
    padding-top: 2%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container-tools img{
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
    transition: transform 0.5s;
}
.container-tools a:hover{
    transform: translateY(-5px);
}
/*-----------------------------------------------contact------------------*/
.contact-left {
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
}
.contact-right {
    flex-basis: 60%;
}
p i{
    color:#ec5dc9;
}
.social-icons {
    margin-top:30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display:inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{ 
    color:#ec5dc9;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background:#ec5dc9;
    border:#ec5dc9;
    
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background: #262626;
    padding: 15px;
    margin:15px;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
}
.tools-icons{
    height: 1em;
    color: #fff;
   
}
/*------------------------------------css for small screens---------------------------- */


